<div class="py-8">
  <div class="m-8 p-8 bg-base-100 shadow-lg ">
  <%= render 'shared/flash_message' %>
    <div class="p-4 font-bold">
      <%= link_to '新規作成', new_item_path, class: 'text-blue-500 hover:underline' %>はこちら
      <% if @items.present? %>
      <ul class="space-y-5">
        <% @items.each do |item| %>
          <div class="flex bg-base-300 shadow-lg rounded-lg flex justify-center items-center">
            <a href="<%= item_path(item) %>", class="flex-shrink-0 hidden md:block hover:shadow-xl transition-shadow">
              <img class="rounded-lg w-56 border-4 border-base-300" src="https://picsum.photos/300/180" alt="<%= item.name %>">
            </a>
            <div class="ml-6 flex-grow relative flex flex-col justify-center items-center h-32">
              <div class="mb-1">
                <p class="text-2xl">カテゴリー : <%= t("categories.#{item.category}") %></p>
              </div>

              <div class="my-2">
                <p class="text-lg">商品名 : <%= item.name %></p>
              </div>

              <div class="flex flex-auto mt-1">
                <p class="text-3xl">次回の通知日 : </p>
                <p id=<%= "notification_#{item.notification.id}" %> class="text-3xl font-bold text-red-600"><%= item.notification.next_notification_day %></p>
              </div>

              <div class="absolute top-2 right-2">
                <div class="space-x-5">
                  <%= link_to edit_notification_path(item), data: {turbo_frame: "modal"}, class: "text-gray-500 hover:text-gray-700" do %>
                    <i class="fas fa-clock text-3xl"></i>
                  <% end %>
                  <%= link_to edit_item_path(item), class: "text-gray-500 hover:text-gray-700" do %>
                    <i class="fas fa-pen text-3xl"></i>
                  <% end %>
                  <%= link_to item_path(item), method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "text-gray-500 hover:text-gray-700" do %>
                    <i class="fas fa-trash text-3xl"></i>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      </ul>
      <% else %>
        <div class="mb-3 text-center text-3xl text-gray-500">登録がありません</div>
      <% end %>
    </div>
  </div>
</div>
