<div class="bg-green-100">
    <div class="m-8 p-8 bg-base-100 shadow-lg">
        <div class="h-screen p-4">
            <%= render 'shared/header' %>
            <div class="font-bold mt-8 text-center text-5xl text-green-800 mb-6">登録内容</div>
            <div class="flex justify-end space-x-6">
                <%= link_to edit_item_path(@item), class: "text-gray-500 hover:text-gray-700" do %>
                    <i class="fas fa-pen text-3xl"></i>
                <% end %>

                <%= link_to @item, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "text-gray-500 hover:text-gray-700" do %>
                    <i class="fas fa-trash text-3xl"></i>
                <% end %>
            </div>

            <div class="mb-4">
                <div class="bg-gray-50 p-4 rounded ">
                    <label class="block text-gray-700 font-bold mb-2 text-lg">商品名</label>
                    <div class="text-2xl font-semibold text-green-800 bg-gray-50 p-4 rounded">
                        <%= @item.name %>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="bg-gray-50 p-4 rounded ">
                    <label class="block text-gray-700 font-bold mb-2 text-lg">総量</label>
                    <div class="text-2xl font-semibold text-green-800 bg-gray-50 p-4 rounded">
                        <%= @item.volume %>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="bg-gray-50 p-4 rounded ">
                    <label class="bg-gray-50 p-4 rounded block text-gray-700 font-bold mb-2">使用量</label>
                    <div class="text-2xl font-semibold text-green-800 bg-gray-50 p-4 rounded">
                        <%= @item.used_count_per_day %> / 日
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="bg-gray-50 p-4 rounded ">
                    <label class="bg-gray-50 p-4 rounded block text-gray-700 font-bold mb-2">メモ内容</label>
                    <div class="text-2xl font-semibold text-green-800 bg-gray-50 p-4 rounded">
                        <%= @item.memo %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
